<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591860460659-hnv69g8p7vkn978d43n6lgi6d75jcmep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591860460659-hnv69g8p7vkn978d43n6lgi6d75jcmep</string>
	<key>API_KEY</key>
	<string>AIzaSyAjjMoekHlcsqme6w6aJI0K9hMLRmbXjx4</string>
	<key>GCM_SENDER_ID</key>
	<string>591860460659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.tukorea.ce.ios.iOS</string>
	<key>PROJECT_ID</key>
	<string>boss-cd-travelog</string>
	<key>STORAGE_BUCKET</key>
	<string>boss-cd-travelog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591860460659:ios:6f6c05c827720152ca4e06</string>
</dict>
</plist>