<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_APP_KEY</key>
	<string>73234108b898e2fb0102a2497b4d423f</string>
	<key>OCR_API_URL</key>
	<string>https://3hkgiiv3c8.apigw.ntruss.com/custom/v1/20198/97486c794c69f6ebcd804fea84c5316ac15fb5d28b323f687d7ec8d8ef62973e/document/receipt</string>
	<key>OCR_API_KEY</key>
	<string>cERiQXNMRGFqcFZrRmx2UmNqZXZuZXZHbFhzQ1FjbE0=</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
